# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension 
*.class
*.sm
*.o
.DS_Store
*.create

1_Software/Etape_3/~$verified_PGCD.xlsx
1_Software/Etape_2/~$verified_PGCD.xlsx
*.wdf
*.wpc
*.lpr
*.xml
*.bat
*.log
*.tcl
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/pgcd_tb_behav.wdb
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/pgcd_tb_vhdl.prj
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/webtalk.jou
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/webtalk_9112.backup.jou
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xelab.pb
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/Compile_Options.txt
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/obj/xsim_0.win64.obj
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/obj/xsim_1.c
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/obj/xsim_1.win64.obj
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/TempBreakPointFile.txt
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/webtalk/.xsim_webtallk.info
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/webtalk/usage_statistics_ext_xsim.html
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.dbg
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.mem
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.reloc
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.rlx
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.rtti
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.svtype
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.type
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsim.xdbg
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsimk.exe
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/pgcd_tb_behav/xsimSettings.ini
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/pgcd.vdb
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/pgcd_tb.vdb
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xsim.ini
2_Hardware/Etape_1/vivado/PGCD_TestVerif.sim/sim_1/behav/xsim/xvhdl.pb
2_Hardware/Etape_1/vivado/PGCD_TestVerif.xpr
2_Hardware/Etape_1/vivado/vivado.jou
